<div class="head flex dark">
    <div>
        <span><h2>PUBLISHERS</h2></span>
    </div>
    <div>
        <span>{{input type="text" value=value placeholder="Search..." key-up=(action 'handleFilterEntry')}}</span>
        {{#if storage.user}}<span><button onclick={{action 'togglePublisherModalDialog'}} style="width:125px;">+ New Publisher</button></span>{{/if}}
    </div>
</div>
<div class="cards flex light">
    {{#if isAdded}} 
    {{!-- {{filter-book books=model category=selectedCategory}} --}}
     {{#if searchedPublishers}}
    {{#each (sort-by '__data.name' searchedPublishers) as |publisher|}} {{#link-to 'publisher' publisher.id}}{{card-view data=publisher.__data}}{{/link-to}} {{/each}}
     {{else}}
    {{#each (sort-by '__data.name' publishers) as |publisher|}} {{#link-to 'publisher' publisher.id}}{{card-view data=publisher.__data}}{{/link-to}} {{/each}}
    {{/if}}
    {{!-- {{filter-book books=model category=selectedCategory}} --}}
    {{/if}}
</div>
{{#if publisherModalDialog}}
{{#modal-dialog
    onClose=(action (mut publisherModalDialog) false)
    translucentOverlay=true
}}
        <div class="imgcontainer">
            <span onclick={{action 'togglePublisherModalDialog'}} class="close" title="Cancel">&times;</span>
        </div>
  {{publisher-form addPublisher=(action 'addPublisher')}}
{{/modal-dialog}}
{{/if}}
{{outlet}}